/* -- General -- */

* {
    cursor: crosshair;
    margin: 0;
    padding: 0;
    touch-action: none;
}

body, html {
    height: 100%;
}

/* -- Canvases -- */

#canvas-wave {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* -- Loaders -- */

.loader, .loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.loader {
    margin: 4px;
    text-indent: 0em;
    border-top: 1.75em solid #ffffff15;
    border-right: 1.75em solid #ffffff15;
    border-bottom: 1.75em solid #ffffff15;
    transform: translateZ(0);
    animation: load 1.1s infinite linear;
    animation-play-state: paused;
    visibility: hidden;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Plot loader */

.loader.plot {
    position: absolute;
    z-index: 8;
    font-size: 2px;
    border-left: 1.75em solid #ffffff90;
    opacity: 0;
}

/* General loader */

.loader.general {
    top: 6pt;
    left: 2pt;
    font-size: 3px;
    border-left: 1.75em solid #ffffff90;
    opacity: 1;
    visibility: visible;
    animation-play-state: running;
}

/* Loading container */

div.loading-container {
    position: absolute;
    width: 100%;
    top: 42%;
    display: grid;
    place-items: center;
}